<div>
  <!-- <div class="container">
    <app-header></app-header>
    <router-outlet (activate)="onActivate()"></router-outlet>
  </div> -->

  <app-header></app-header>
  <router-outlet (activate)="onActivate()"></router-outlet>
  <app-footer></app-footer>
  <!-- <m-footer></m-footer> -->
  <!--
  <div id="footer">
    <strong>CỔNG THÔNG TIN ĐIỆN TỬ TRƯỜNG SĨ QUAN THÔNG TIN</strong>
    <br />
    Địa chỉ: Số 101, Mai Xuân Thưởng, Nha Trang, Khánh Hòa * Tel: 069.756-315 *
    Fax: 0583-832-055 * Email: info@tsqtt.edu.vn
    <br />
    Website: tsqtt.edu.vn * Cơ quan quản lý: Trường Sĩ Quan Thông Tin
    <br /><span style="color: #999">® Ghi rõ nguồn <a class="txRed" href="#">tsqtt.edu.vn</a> khi phát hành
      lại thông tin từ Cổng TTÐT Trường Sĩ Quan Thông Tin.
    </span>
  </div>
</div> -->
