.sidebar{
  aside {
    margin-bottom: 30px;
  }
  aside.banner .intro__item {
    height: 55px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
  }
  aside.banner .intro__item img {
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  aside .aside-title {
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 20px;
  }
  aside .aside-title h4 {
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #dc2f27;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: -1px;
    padding-bottom: 10px;
  }
  aside .aside-title h4::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 70px;
    height: 3px;
    bottom: -1px;
    background: #dc2f27;
  }
  aside .aside-title .read-more {
    color: #d83024;
  }
  aside .aside-title .read-more:hover {
    color: #fcc133;
  }
  aside ul {
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  aside .list-post .item {
    margin-bottom: 10px;
  }
  aside .list-post .item img {
    width: 100%;
  }
  aside .list-post .item .title {
    width: 100%;
    padding-left: 0;
  }
  aside .list-post .item .title h3 {
    font-weight: 400;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    position: relative;
    padding-left: 20px;
  }
  aside .list-post .item .title h3 a {
    transition: 0.5s;
    color: #000;
  }
  aside .list-post .item .title h3:hover a {
    color: #dc2f27;
  }
  aside .list-post .item .title h3:before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 15px;
    height: 15px;
    // background: url(../images/icon-item.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  aside .list-post .item h6.date {
    font-size: 12px;
    color: #bdbdbd;
    font-weight: 400;
    margin-bottom: 0;
  }
  aside .list-post .item h6.date i {
    margin-right: 5px;
  }
  aside.aside-featured .list-post .item .image {
    width: 35%;
  }
  aside.aside-featured .list-post .item .title {
    width: 65%;
    padding-left: 10px;
  }
  aside.aside-featured .list-post .item .title h3 {
    line-height: 18px;
    padding-left: 0;
  }
  aside.aside-featured .list-post .item .title h3:before {
    display: none;
  }
  aside.aside-featured .list-post .item .title a {
    padding-left: 0;
  }
  aside.aside-featured .list-post .item:first-child {
    border-bottom: 1px dashed #626262;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block !important;
  }
  aside.aside-featured .list-post .item:first-child .image,
  aside.aside-featured .list-post .item:first-child .title {
    width: 100% !important;
  }
  aside.aside-featured .list-post .item:first-child .title {
    padding-left: 0;
    margin-top: 10px;
  }
  aside.aside-featured .list-post .item:first-child .title h3 {
    font-weight: 600;
  }

  aside .aside-title h4 {
    font-size: 13px;
  }

  aside.aside-featured .list-post .item:first-child {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  aside .title h3 {
    font-size: 13px !important;
    line-height: 18px !important;
  }
  aside .aside-title .read-more {
    font-size: 13px;
  }
}
