table {
    &.middle {
        tr {
            th {
                vertical-align: middle;
            }

            td {
                vertical-align: middle;
            }
        }
    }
}

$border: 1px solid #d1d4d7 !important;
ngx-datatable {

	@media (max-width: 902px)
	{
		.datatable-row-left{
			width: 150px !important;
		}
	}

	datatable-header{
		border:  $border;
		border-left: none !important;
		background: #3598DC;
		color: white;
		height: 100% !important;

		.datatable-header-inner{
			height: 100%;
		}
		.datatable-row-left{
			background: #3598DC;
			border-right: $border;
		}

		datatable-header-cell{
			height: 100%;
			padding: 0 !important;
			border-right: $border;
		}
		datatable-header-cell:last-child{
			border-right: none !important;
		}
	}

    .datatable-row-left {
        border-left:  1px solid #d1d4d7 !important;
    }
    
	datatable-body{
		max-height: 450px;
		height: max-content !important;
		border: {
			// left: $border;
			right: $border;
		}

        .empty-row{
            padding: {
                top: 10px;
                bottom: 10px;
                left: 10px;
            }

            border: {
                left: $border;
                bottom: $border;
            }
        }


		datatable-body-row{
			border-bottom: $border;
			border-top: none !important;
			
			.datatable-body-cell-label{
				height: 100%;
				overflow: visible !important;
			}

			.datatable-row-left{
				background: white;
                border-right: $border;
                &.border-left-none{
                    border-left: none !important;
                }
			}
			datatable-body-cell{
                overflow-x: visible !important;
				padding: 0px !important;
				min-height: 30px;
				border-right: $border;
			}
			datatable-body-cell:last-child{
				border-right: none !important;
			}
		}
	}
}
