<main>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-7 col-lg-9">
        <nav class="nav-breadcrumb pt-3">
          <ol class="breadcrumb">
            <li class="breadcrumb-item ">
              <a href="index.html">Trang chủ</a>
            </li>
            <li class="breadcrumb-item ">
              <span>Giáo dục QPAN</span>
            </li>
            <li class="breadcrumb-item ">
              <span>Học liệu QPAN</span>
            </li>
            <li class="breadcrumb-item active">
              <span>Bài giảng</span>
            </li>
          </ol>
        </nav>
        <section class="list-lecture">
          <div class="title">
            <h1>Danh sách bài giảng Giáo dục quốc phòng an ninh</h1>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th width="10%" scope="col" class="text-center">TT</th>
                  <th width="15%" scope="col" class="text-center">Mã tài liệu</th>
                  <th width="50%" scope="col" class="text-center">Tên tài liệu</th>
                  <th width="25%" scope="col" class="text-center">Tác giả </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="text-center">1</th>
                  <td class="text-center">
                    <h6>
                      BG001
                    </h6>
                  </td>
                  <td class="document-name">

                    <h3>
                      <a href="./chi-tiet-hoc-lieu.html" title="">
                        Quan Điểm, Chủ Trương Của Đảng, Chính Sách Pháp Luật Của Nhà Nước Về An Ninh Quốc Gia Và Xây
                        Dựng Thế Trận An Ninh Nhân Dân Trong Thời Kỳ Mới
                      </a>
                    </h3>
                  </td>
                  <td>
                    <h6>Trần Xuân Ngọ</h6>
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="text-center">2</th>
                  <td class="text-center">
                    <h6>
                      BG002
                    </h6>
                  </td>
                  <td class="document-name">

                    <h3>
                      <a href="./chi-tiet-hoc-lieu.html" title="">
                        Quan Điểm, Chủ Trương Của Đảng Cộng Sản Việt Nam, Chính Sách Của Nhà Nước Về Dân Tộc, Tôn Giáo
                      </a>
                    </h3>
                  </td>
                  <td>
                    <h6>Nguyễn Hữu Phúc</h6>
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="text-center">3</th>
                  <td class="text-center">
                    <h6>
                      BG003
                    </h6>
                  </td>
                  <td class="document-name">

                    <h3>
                      <a href="./chi-tiet-hoc-lieu.html" title="">
                        Phát Triển Kinh Tế - Xã Hội Gắn Với Quốc Phòng - An Ninh
                      </a>
                    </h3>
                  </td>
                  <td>
                    <h6>Trần Xuân Ngọ</h6>
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="text-center">4</th>
                  <td class="text-center">
                    <h6>
                      BG004
                    </h6>
                  </td>
                  <td class="document-name">

                    <h3>
                      <a href="./chi-tiet-hoc-lieu.html" title="">
                        Quan Điểm, Chủ Trương Của Đảng Cộng Sản Việt Nam, Chính Sách Của Nhà Nước Về Đối Ngoại Gắn Với
                        Quốc Phòng, An Ninh Trong Tình Hình Mới
                      </a>
                    </h3>
                  </td>
                  <td>
                    <h6>Đặng Công Thành</h6>
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="text-center">5</th>
                  <td class="text-center">
                    <h6>
                      BG005
                    </h6>
                  </td>
                  <td class="document-name">

                    <h3>
                      <a href="./chi-tiet-hoc-lieu.html" title="">
                        Quan Điểm Của Đảng, Nhà Nước Về Bảo Vệ An Ninh Chính Trị, Kinh Tế, Văn Hóa, Tư Tưởng Và Xây Dựng
                        Phong Trào Toàn Dân Bảo Vệ An Ninh Tổ Quốc Trong Tình Hiện Nay
                      </a>
                    </h3>
                  </td>
                  <td>
                    <h6>Nguyễn Trường Thọ</h6>
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="text-center">6</th>
                  <td class="text-center">
                    <h6>
                      BG006
                    </h6>
                  </td>
                  <td class="document-name">

                    <h3>
                      <a href="./chi-tiet-hoc-lieu.html" title="">
                        Quan Điểm Của Chủ Nghĩa Mác – Lê Nin, Tư Tưởng Hồ Chí Minh Về Chiến Tranh Quân Đội Và Bảo Vệ Tổ
                        Quốc
                      </a>
                    </h3>
                  </td>
                  <td>
                    <h6>Trần Xuân Ngọ</h6>
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="text-center">7</th>
                  <td class="text-center">
                    <h6>
                      BG007
                    </h6>
                  </td>
                  <td class="document-name">

                    <h3>
                      <a href="./chi-tiet-hoc-lieu.html" title="">
                        Những Vấn Đề Cơ Bản Về Bảo Vệ An Ninh Quốc Gia Và Giữ Gìn Trật Tự, An Toàn Xã Hội
                      </a>
                    </h3>
                  </td>
                  <td>
                    <h6>Trần Xuân Ngọ</h6>
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="text-center">8</th>
                  <td class="text-center">
                    <h6>
                      BG008
                    </h6>
                  </td>
                  <td class="document-name">

                    <h3>
                      <a href="./chi-tiet-hoc-lieu.html" title="">
                        Một Số Nội Dung Cơ Bản Về Dân Tộc, Tôn Giáo Và Đấu Tranh Phòng Chống Địch Lợi Dụng Vấn Đề Dân
                        Tộc Và Tôn Giáo Chống Phá Cánh Mạng Việt Nam
                      </a>
                    </h3>
                  </td>
                  <td>
                    <h6>Trần Xuân Ngọ</h6>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

          <nav class="pagination-wrap pt-3">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active"><span class="page-link">1</span></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </section>
      </div>
      <div class="col-xs-12 col-md-5 col-lg-3">
        <div class="sidebar pt-3">
          <aside class="banner">
            <ul class="intro__list">
              <li class="intro__item">
                <a href="http://elearning.mitechcenter.vn/" target="_blank" title="E-Learning">
                  <img [src]="'https://tcu.edu.vn/assets/web/images/e-Learning-tcu.jpg'"
                    data-src="https://tcu.edu.vn/assets/web/images/e-Learning-tcu.jpg" class="lazyload" alt="alt-image">
                </a>
              </li>
              <li class="intro__item">
                <a href="http://thisinh.thithptquocgia.edu.vn/Account/Login" target="_blank" title="Tra cứu điểm thi">
                  <img [src]="'https://tcu.edu.vn/assets/web/images/tra-cuu-diem-thi-tcu.jpg'"
                    data-src="https://tcu.edu.vn/assets/web/images/tra-cuu-diem-thi-tcu.jpg" class="lazyload"
                    alt="alt-image">
                </a>
              </li>
              <li class="intro__item">
                <a href="http://daotao.mitechcenter.vn/cau-hoi-thuong-gap" target="" title="Câu hỏi thường gặp">
                  <img [src]="'https://tcu.edu.vn/assets/web/images/cau-hoi-thuong-gap-tcu.jpg'"
                    data-src="https://tcu.edu.vn/assets/web/images/cau-hoi-thuong-gap-tcu.jpg" class="lazyload"
                    alt="alt-image">
                </a>
              </li>
              <li class="intro__item">
                <a href="http://mitechcenter.vn/ho-so-tuyen-sinh" target="_blank" title="Hồ sơ tuyển sinh">
                  <img [src]="'https://tcu.edu.vn/assets/web/images/ho-so-tuyen-sinh-tcu.jpg'"
                    data-src="https://tcu.edu.vn/assets/web/images/ho-so-tuyen-sinh-tcu.jpg" class="lazyload"
                    alt="alt-image">
                </a>
              </li>
            </ul>
          </aside>
          <aside class="aside-featured">
            <div class="d-flex aside-title">
              <div class="flex-grow-1">
                <h4><span>Tin nổi bật</span></h4>
              </div>
              <div class="align-self-center">
                <a class="read-more" href="./danh-sach-bai-viet.html" title="">Xem thêm<span>[+]</span></a>
              </div>
            </div>
            <div class="list-post">
              <article class="item full-thumb">
                <div class="image">
                  <a href="./chi-tiet-bai-viet.html" title="">
                    <img [src]="'https://tcu.edu.vn/public/upload/banbientap/2021/2021-06-13_221033.png'"
                      data-src="https://tcu.edu.vn/public/upload/banbientap/2021/2021-06-13_221033.png" class="lazyload"
                      alt="alt-image">
                  </a>
                </div>
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Trường Sĩ quan Thông tin tặng các trường học trên địa bàn máy rửa tay sát khuẩn tự động
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="image">
                  <a href="./chi-tiet-bai-viet.html" title="">
                    <img [src]="'https://tcu.edu.vn/public/upload/banbientap/2021/2021-06-13_221033.png'"
                      data-src="./assets/web/images/post-1.jpg" class="lazyload" alt="alt-image">
                  </a>

                </div>
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Trường Sĩ quan Thông tin tặng các trường học trên địa bàn máy rửa tay sát khuẩn tự động
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="image">
                  <a href="./chi-tiet-bai-viet.html" title="">
                    <img [src]="'https://tcu.edu.vn/public/upload/banbientap/2021/2021-06-13_221033.png'"
                      data-src="./assets/web/images/post-29.jpg" class="lazyload" alt="alt-image">
                  </a>

                </div>
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Trường Sĩ quan Thông tin: Hoàn thành tốt nhiệm vụ thực tập cuối khóa năm học 2019-2020
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="image">
                  <a href="./chi-tiet-bai-viet.html" title="">
                    <img [src]="'https://tcu.edu.vn/public/upload/banbientap/2021/2021-06-13_221033.png'"
                      data-src="./assets/web/images/post-3.jpg" class="lazyload" alt="alt-image">
                  </a>

                </div>
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Giảng viên Khoa Khoa học xã hội và nhân văn bảo vệ luận văn thạc sĩ năm 2020 tại Học viện
                      Chính trị
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="image">
                  <a href="./chi-tiet-bai-viet.html" title="">
                    <img [src]="'https://tcu.edu.vn/public/upload/banbientap/2021/2021-06-13_221033.png'"
                      data-src="./assets/web/images/post-4.jpg" class="lazyload" alt="alt-image">
                  </a>
                </div>
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Tích cực đưa Trung tâm Công nghệ thông tin và Ngoại ngữ giai đoạn 2 vào hoạt động
                    </a>
                  </h3>
                </div>
              </article>
            </div>
          </aside>
          <aside class="aside-notice">
            <div class="d-flex aside-title">
              <div class="flex-grow-1">
                <h4><span>Thông báo đào tạo</span></h4>
              </div>
              <div class="align-self-center">
                <a class="read-more" href="./danh-sach-bai-viet.html" title="">Xem thêm<span>[+]</span></a>
              </div>
            </div>
            <div class="list-post">
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Trường Đại học Thông tin liên lạc thông báo tuyển sinh các lớp tiếng Nhật ngắn hạn
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Đề án tuyển sinh Trường Sĩ quan Thông tin năm 2020
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Công bố phương thức tuyển sinh chính thức của các trường quân đội năm 2020
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Bộ Quốc phòng điều chỉnh thời gian sơ tuyển vì Covid-19
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Đề án tuyển sinh Trường Sĩ quan Thông tin năm 2020
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Công bố phương thức tuyển sinh chính thức của các trường quân đội năm 2020
                    </a>
                  </h3>
                </div>
              </article>
            </div>
          </aside>
          <aside class="aside-notice">
            <div class="d-flex aside-title">
              <div class="flex-grow-1">
                <h4><span>Thông báo tuyển sinh</span></h4>
              </div>
              <div class="align-self-center">
                <a class="read-more" href="./danh-sach-bai-viet.html" title="">Xem thêm<span>[+]</span></a>
              </div>
            </div>
            <div class="list-post">
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Trường Đại học Thông tin liên lạc thông báo tuyển sinh các lớp tiếng Nhật ngắn hạn
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Đề án tuyển sinh Trường Sĩ quan Thông tin năm 2020
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Công bố phương thức tuyển sinh chính thức của các trường quân đội năm 2020
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Bộ Quốc phòng điều chỉnh thời gian sơ tuyển vì Covid-19
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Đề án tuyển sinh Trường Sĩ quan Thông tin năm 2020
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Công bố phương thức tuyển sinh chính thức của các trường quân đội năm 2020
                    </a>
                  </h3>
                </div>
              </article>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</main>
