@import '../../app.component.scss';

:host {
  display: block;
  padding: 10px;
  text-align: justify;

  .title {
    color: #dc2f27;
  }

  .time {
    display: flex;
    align-items: center;
    color: #bdbdbd;
    font-size: 0.8rem;

    i {
      margin-right: 5px;
      font-size: 18px;
    }
  }

  .list-news {
    padding-top: 50px;

    .title {
      margin-bottom: 20px;
      border-bottom: 1px solid #bdbdbd;

      h2 {
        display: inline-block;
        position: relative;
        font-size: 16px;
        color: #dc2f27;
        padding-bottom: 8px;
        text-transform: uppercase;
        margin-bottom: -1px;
        font-weight: 700;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -1px;
          height: 3px;
          background: #dc2f27;
          width: 90px;
        }
      }
    }

    ul {
      list-style: none;
      padding-left: 0;

      li {
        margin-bottom: 10px;
        padding-left: 20px;
        text-align: justify;

        a {
          position: relative;

          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0px;
            left: -20px;
            width: 15px;
            height: 15px;
            // background: url(assets/images/web/icon-item.png);
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
  }
}

#detail header {
  margin-bottom: 15px;
}
#detail header .title {
  font-weight: 700;
  font-size: 16px;
  color: #dc2f27;
  line-height: 22px;
  margin-bottom: 10px;
}
#detail header .date {
  font-size: 12px;
  color: #bdbdbd;
  font-weight: 400;
  margin-bottom: 0;
}
#detail header .date i {
  margin-right: 5px;
}
#detail header .time {
  font-size: 12px;
  color: #bdbdbd;
  margin-left: 5px;
}
#detail article figure {
  margin-bottom: 20px;
}
#detail article figcaption {
  margin-top: 10px;
  text-align: center;
  font-style: italic;
}
#detail .author {
  font-size: 14px;
  color: #000;
  line-height: 22px;
  font-style: italic;
}
#detail ul li {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  color: #000;
}

aside {
  margin-bottom: 30px;
}
aside.banner .intro__item {
  height: 55px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
aside.banner .intro__item img {
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
aside .aside-title {
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 20px;
}
aside .aside-title h4 {
  display: inline-block;
  position: relative;
  font-size: 14px;
  color: #dc2f27;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: -1px;
  padding-bottom: 10px;
}
aside .aside-title h4::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 70px;
  height: 3px;
  bottom: -1px;
  background: #dc2f27;
}
aside .aside-title .read-more {
  color: #d83024;
}
aside .aside-title .read-more:hover {
  color: #fcc133;
}
aside ul {
  padding-bottom: 0;
  margin-bottom: 0;
  padding-left: 0;
}
aside .list-post .item {
  margin-bottom: 10px;
}
aside .list-post .item img {
  width: 100%;
}
aside .list-post .item .title {
  width: 100%;
  padding-left: 0;
}
aside .list-post .item .title h3 {
  font-weight: 400;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  position: relative;
  padding-left: 20px;
}
aside .list-post .item .title h3 a {
  transition: 0.5s;
  color: #000;
}
aside .list-post .item .title h3:hover a {
  color: #dc2f27;
}
aside .list-post .item .title h3:before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 15px;
  height: 15px;
  // background: url(../images/icon-item.png);
  background-repeat: no-repeat;
  background-position: center;
}
aside .list-post .item h6.date {
  font-size: 12px;
  color: #bdbdbd;
  font-weight: 400;
  margin-bottom: 0;
}
aside .list-post .item h6.date i {
  margin-right: 5px;
}
aside.aside-featured .list-post .item .image {
  width: 35%;
}
aside.aside-featured .list-post .item .title {
  width: 65%;
  padding-left: 10px;
}
aside.aside-featured .list-post .item .title h3 {
  line-height: 18px;
  padding-left: 0;
}
aside.aside-featured .list-post .item .title h3:before {
  display: none;
}
aside.aside-featured .list-post .item .title a {
  padding-left: 0;
}
aside.aside-featured .list-post .item:first-child {
  border-bottom: 1px dashed #626262;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: block !important;
}
aside.aside-featured .list-post .item:first-child .image,
aside.aside-featured .list-post .item:first-child .title {
  width: 100% !important;
}
aside.aside-featured .list-post .item:first-child .title {
  padding-left: 0;
  margin-top: 10px;
}
aside.aside-featured .list-post .item:first-child .title h3 {
  font-weight: 600;
}

aside .aside-title h4 {
  font-size: 13px;
}

aside.aside-featured .list-post .item:first-child {
  padding-bottom: 15px;
  margin-bottom: 15px;
}

aside .title h3 {
  font-size: 13px !important;
  line-height: 18px !important;
}
aside .aside-title .read-more {
  font-size: 13px;
}

.list-post .item {
  display: flex;
  margin-bottom: 15px;
}
.list-post .item .image {
  width: 35%;
}
.list-post .item .title {
  width: 65%;
  padding-left: 10px;
}
.list-post .item .title h3 {
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 5px;
}
.list-post .item .title h3 a {
  transition: 0.5s;
}
.list-post .item .title span {
  font-size: 12px;
  color: #bdbdbd;
  font-weight: 400;
}
.list-post .item .title span i {
  margin-right: 5px;
}


.aside-notice h3 {
  padding-left: 0;
}

.nav-breadcrumb {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}
.nav-breadcrumb ol {
  border-radius: 0;
  padding: 8px 12px;
  border-left: 5px solid #dc2f27;
  display: block;
}
.nav-breadcrumb ol li {
  display: inline-block;
  text-transform: capitalize;
}
.nav-breadcrumb ol li a,
.nav-breadcrumb ol li span {
  font-size: 13px;
  font-weight: 500;
}
.nav-breadcrumb ol li a {
  color: #333;
  transition: 0.5s;
}
.nav-breadcrumb ol li a:hover {
  color: #dc2f27;
}
.nav-breadcrumb ol li span {
  color: #333;
}
.nav-breadcrumb ol .active span {
  color: #dc2f27;
}
.nav-breadcrumb .breadcrumb-item + .breadcrumb-item {
  padding-left: 20px;
  position: relative;
}
.nav-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  position: absolute;
  background: url(https://tcu.edu.vn/assets/web/images/icon-breadcrumb.png);
  width: 8px;
  height: 9px;
  background-repeat: no-repeat;
  left: 5px;
  background-size: cover;
  content: "";
  top: 6px;
}
