@import '../../app.component.scss';

:host {
  display: block;
  padding: 10px;
  text-align: justify;

  .title {
    color: #dc2f27;
  }

  .time {
    display: flex;
    align-items: center;
    color: #bdbdbd;
    font-size: 0.8rem;

    i {
      margin-right: 5px;
      font-size: 18px;
    }
  }

  .list-news {
    padding-top: 50px;

    .title {
      margin-bottom: 20px;
      border-bottom: 1px solid #bdbdbd;

      h2 {
        display: inline-block;
        position: relative;
        font-size: 16px;
        color: #dc2f27;
        padding-bottom: 8px;
        text-transform: uppercase;
        margin-bottom: -1px;
        font-weight: 700;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -1px;
          height: 3px;
          background: #dc2f27;
          width: 90px;
        }
      }
    }

    ul {
      list-style: none;
      padding-left: 0;

      li {
        margin-bottom: 10px;
        padding-left: 20px;
        text-align: justify;

        a {
          position: relative;

          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0px;
            left: -20px;
            width: 15px;
            height: 15px;
            // background: url(assets/images/web/icon-item.png);
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
  }
}

#detail header {
  margin-bottom: 15px;
}
#detail header .title {
  font-weight: 700;
  font-size: 16px;
  color: #dc2f27;
  line-height: 22px;
  margin-bottom: 10px;
}
#detail header .date {
  font-size: 12px;
  color: #bdbdbd;
  font-weight: 400;
  margin-bottom: 0;
}
#detail header .date i {
  margin-right: 5px;
}
#detail header .time {
  font-size: 12px;
  color: #bdbdbd;
  margin-left: 5px;
}
#detail article figure {
  margin-bottom: 20px;
}
#detail article figcaption {
  margin-top: 10px;
  text-align: center;
  font-style: italic;
}
#detail .author {
  font-size: 14px;
  color: #000;
  line-height: 22px;
  font-style: italic;
}
#detail ul li {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  color: #000;
}

.list-post .item {
  display: flex;
  margin-bottom: 15px;
}
.list-post .item .image {
  width: 35%;
}
.list-post .item .title {
  width: 65%;
  padding-left: 10px;
}
.list-post .item .title h3 {
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 5px;
}
.list-post .item .title h3 a {
  transition: 0.5s;
}
.list-post .item .title span {
  font-size: 12px;
  color: #bdbdbd;
  font-weight: 400;
}
.list-post .item .title span i {
  margin-right: 5px;
}


.aside-notice h3 {
  padding-left: 0;
}

