<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-7 col-lg-9">
      <nav class="nav-breadcrumb pt-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item ">
            <a href="index.html">Trang chủ</a>
          </li>
          <li class="breadcrumb-item active">
            <span>Danh sách trúng tuyển</span>
          </li>
        </ol>
      </nav>
      <section class="news-event-content">
        <article class="post-news-event">
          <div class="box-date">
            <span class="day">
              18
            </span>
            <span class="month">
              Tháng 03
            </span>
          </div>
          <div class="post-news-event__image">
            <div class="box">
              <a href="./chi-tiet-bai-viet.html" title="">
                <img [src]="'https://tcu.edu.vn/public/upload/banbientap/2021/2021-06-13_221033.png'" class="lazyloaded"
                  alt="alt-image">
              </a>
            </div>
          </div>
          <div class="post-news-event__post">
            <h3 class="title">
              <a href="./chi-tiet-bai-viet.html" title="">
                Khai mạc khóa đào tạo kỹ năng đánh giá công tác bảo đảm an toàn thông tin tại Trung
                tâm CNTT&amp;NN
              </a>
            </h3>
            <p class="post-news-event__text mb-2">Sáng 18/04/2019, Trường Đại học Khánh Hòa phối hợp với
              Sở Giáo dục &amp; Đào tạo tỉnh Khánh Hòa, Bệnh viện chuyên khoa tâm thần Khánh Hòa tổ
              chức Hội thảo Khoa học cấp tỉnh với chủ đề: “Tâm lý học đường - Thực trạng và giải
              pháp”...</p>
            <a href="./chi-tiet-bai-viet.html" class="view-more" title="">Xem thêm<span>[+]</span></a>
          </div>
        </article>
        <article class="post-news-event">
          <div class="box-date">
            <span class="day">
              18
            </span>
            <span class="month">
              Tháng 03
            </span>
          </div>
          <div class="post-news-event__image">
            <div class="box">
              <a href="./chi-tiet-bai-viet.html" title="">
                <img [src]="'https://tcu.edu.vn/public/upload/Post/ThongTinKHCN/18082020/Toadamdetai.jpg'"
                  data-src="./assets/web/images/post-111.jpg" class=" lazyloaded" alt="alt-image">
              </a>
            </div>
          </div>
          <div class="post-news-event__post">
            <h3 class="title">
              <a href="./chi-tiet-bai-viet.html" title="">
                Bế giảng khóa đào tạo tiếng Anh do Ôxtrâylia tài trợ tại Nhà trường
              </a>
            </h3>
            <p class="post-news-event__text mb-2">Sáng 18/04/2019, Trường Đại học Khánh Hòa phối hợp với
              Sở Giáo dục &amp; Đào tạo tỉnh Khánh Hòa, Bệnh viện chuyên khoa tâm thần Khánh Hòa tổ
              chức Hội thảo Khoa học cấp tỉnh với chủ đề: “Tâm lý học đường - Thực trạng và giải
              pháp”...</p>
            <a href="./chi-tiet-bai-viet.html" class="view-more" title="">Xem thêm<span>[+]</span></a>
          </div>
        </article>
        <article class="post-news-event">
          <div class="box-date">
            <span class="day">
              18
            </span>
            <span class="month">
              Tháng 03
            </span>
          </div>
          <div class="post-news-event__image">
            <div class="box">
              <a href="./chi-tiet-bai-viet.html" title="">
                <img [src]="'https://tcu.edu.vn/public/upload/Post/ThongTinKHCN/22092020/httt%20(2).jpg'"
                  data-src="./assets/web/images/post-2.jpg" class=" lazyloaded" alt="alt-image">
              </a>
            </div>
          </div>
          <div class="post-news-event__post">
            <h3 class="title">
              <a href="./chi-tiet-bai-viet.html" title="">
                Giảng viên Khoa Khoa học xã hội và nhân văn bảo vệ luận văn thạc sĩ năm 2020 tại Học
                viện Chính trị
              </a>
            </h3>
            <p class="post-news-event__text mb-2">Sáng 18/04/2019, Trường Đại học Khánh Hòa phối hợp với
              Sở Giáo dục &amp; Đào tạo tỉnh Khánh Hòa, Bệnh viện chuyên khoa tâm thần Khánh Hòa tổ
              chức Hội thảo Khoa học cấp tỉnh với chủ đề: “Tâm lý học đường - Thực trạng và giải
              pháp”...</p>
            <a href="./chi-tiet-bai-viet.html" class="view-more" title="">Xem thêm<span>[+]</span></a>
          </div>
        </article>
        <article class="post-news-event">
          <div class="box-date">
            <span class="day">
              18
            </span>
            <span class="month">
              Tháng 03
            </span>
          </div>
          <div class="post-news-event__image">
            <div class="box">
              <a href="./chi-tiet-bai-viet.html" title="">
                <img [src]="'https://tcu.edu.vn/public/upload/Post/ThongTinKHCN/22092020/39202020huyen2.jpg'"
                  data-src="./assets/web/images/post-3.jpg" class=" lazyloaded" alt="alt-image">
              </a>
            </div>
          </div>
          <div class="post-news-event__post">
            <h3 class="title">
              <a href="./chi-tiet-bai-viet.html" title="">
                Trung tâm CNTT&amp;NN khai mạc khóa đào tạo tiếng Anh trình độ B1 cho cán bộ, sĩ
                quan trong toàn quân năm 2020
              </a>
            </h3>
            <p class="post-news-event__text mb-2">Sáng 18/04/2019, Trường Đại học Khánh Hòa phối hợp với
              Sở Giáo dục &amp; Đào tạo tỉnh Khánh Hòa, Bệnh viện chuyên khoa tâm thần Khánh Hòa tổ
              chức Hội thảo Khoa học cấp tỉnh với chủ đề: “Tâm lý học đường - Thực trạng và giải
              pháp”...</p>
            <a href="./chi-tiet-bai-viet.html" class="view-more" title="">Xem thêm<span>[+]</span></a>
          </div>
        </article>
        <article class="post-news-event">
          <div class="box-date">
            <span class="day">
              18
            </span>
            <span class="month">
              Tháng 03
            </span>
          </div>
          <div class="post-news-event__image">
            <div class="box">
              <a href="./chi-tiet-bai-viet.html" title="">
                <img [src]="'https://tcu.edu.vn/public/upload/Post/ThongTinKHCN/22092020/c7%201.jpg'"
                  data-src="./assets/web/images/post-4.jpg" class=" lazyloaded" alt="alt-image">
              </a>
            </div>
          </div>
          <div class="post-news-event__post">
            <h3 class="title">
              <a href="./chi-tiet-bai-viet.html" title="">
                Giảng viên Khoa Khoa học xã hội và nhân văn bảo vệ luận văn thạc sĩ năm 2020 tại Học
                viện Chính trị
              </a>
            </h3>
            <p class="post-news-event__text mb-2">Sáng 18/04/2019, Trường Đại học Khánh Hòa phối hợp với
              Sở Giáo dục &amp; Đào tạo tỉnh Khánh Hòa, Bệnh viện chuyên khoa tâm thần Khánh Hòa tổ
              chức Hội thảo Khoa học cấp tỉnh với chủ đề: “Tâm lý học đường - Thực trạng và giải
              pháp”...</p>
            <a href="./chi-tiet-bai-viet.html" class="view-more" title="">Xem thêm<span>[+]</span></a>
          </div>
        </article>
        <article class="post-news-event">
          <div class="box-date">
            <span class="day">
              18
            </span>
            <span class="month">
              Tháng 03
            </span>
          </div>
          <div class="post-news-event__image">
            <div class="box">
              <a href="./chi-tiet-bai-viet.html" title="">
                <img [src]="'https://tcu.edu.vn/public/upload/Post/ThongTinKHCN/22092020/c7%201.jpg'"
                  data-src="./assets/web/images/post-5.jpg" class=" lazyloaded" alt="alt-image">
              </a>
            </div>
          </div>
          <div class="post-news-event__post">
            <h3 class="title">
              <a href="./chi-tiet-bai-viet.html" title="">
                Đội SQ26 - TCU chiến thắng rực rỡ tại vòng bán kết Cuộc thi Cuộc đua số khu vực miền
                Nam
              </a>
            </h3>
            <p class="post-news-event__text mb-2">Sáng 18/04/2019, Trường Đại học Khánh Hòa phối hợp với
              Sở Giáo dục &amp; Đào tạo tỉnh Khánh Hòa, Bệnh viện chuyên khoa tâm thần Khánh Hòa tổ
              chức Hội thảo Khoa học cấp tỉnh với chủ đề: “Tâm lý học đường - Thực trạng và giải
              pháp”...</p>
            <a href="./chi-tiet-bai-viet.html" class="view-more" title="">Xem thêm<span>[+]</span></a>
          </div>
        </article>
        <article class="post-news-event">
          <div class="box-date">
            <span class="day">
              18
            </span>
            <span class="month">
              Tháng 03
            </span>
          </div>
          <div class="post-news-event__image">
            <div class="box">
              <a href="./chi-tiet-bai-viet.html" title="">
                <img [src]="'https://tcu.edu.vn/public/upload/Post/ThongTinKHCN/22092020/c7%201.jpg'"
                  data-src="./assets/web/images/post-6.jpg" class=" lazyloaded" alt="alt-image">
              </a>
            </div>
          </div>
          <div class="post-news-event__post">
            <h3 class="title">
              <a href="./chi-tiet-bai-viet.html" title="">
                Trường Đại học Thông tin liên lạc mit-tinh kỷ niệm Ngày Khoa học và Công nghệ Việt
                Nam
              </a>
            </h3>
            <p class="post-news-event__text mb-2">Sáng 18/04/2019, Trường Đại học Khánh Hòa phối hợp với
              Sở Giáo dục &amp; Đào tạo tỉnh Khánh Hòa, Bệnh viện chuyên khoa tâm thần Khánh Hòa tổ
              chức Hội thảo Khoa học cấp tỉnh với chủ đề: “Tâm lý học đường - Thực trạng và giải
              pháp”...</p>
            <a href="./chi-tiet-bai-viet.html" class="view-more" title="">Xem thêm<span>[+]</span></a>
          </div>
        </article>
        <article class="post-news-event">
          <div class="box-date">
            <span class="day">
              18
            </span>
            <span class="month">
              Tháng 03
            </span>
          </div>
          <div class="post-news-event__image">
            <div class="box">
              <a href="./chi-tiet-bai-viet.html" title="">
                <img [src]="'https://tcu.edu.vn/public/upload/Post/ThongTinKHCN/22092020/c7%201.jpg'"
                  data-src="./assets/web/images/post-7.jpg" class="lazyload" alt="alt-image">
              </a>
            </div>
          </div>
          <div class="post-news-event__post">
            <h3 class="title">
              <a href="./chi-tiet-bai-viet.html" title="">
                Trường Sĩ quan Thông tin tặng các trường học trên địa bàn máy rửa tay sát khuẩn tự
                động
              </a>
            </h3>
            <p class="post-news-event__text mb-2">Sáng 18/04/2019, Trường Đại học Khánh Hòa phối hợp với
              Sở Giáo dục &amp; Đào tạo tỉnh Khánh Hòa, Bệnh viện chuyên khoa tâm thần Khánh Hòa tổ
              chức Hội thảo Khoa học cấp tỉnh với chủ đề: “Tâm lý học đường - Thực trạng và giải
              pháp”...</p>
            <a href="./chi-tiet-bai-viet.html" class="view-more" title="">Xem thêm<span>[+]</span></a>
          </div>
        </article>
        <article class="post-news-event">
          <div class="box-date">
            <span class="day">
              18
            </span>
            <span class="month">
              Tháng 03
            </span>
          </div>
          <div class="post-news-event__image">
            <div class="box">
              <a href="./chi-tiet-bai-viet.html" title="">
                <img [src]="'https://tcu.edu.vn/public/upload/Post/ThongTinKHCN/22092020/c7%201.jpg'" data-src=""
                  class="lazyload" alt="alt-image">
              </a>
            </div>
          </div>
          <div class="post-news-event__post">
            <h3 class="title">
              <a href="./chi-tiet-bai-viet.html" title="">
                Trường Sĩ quan Thông tin: Hoàn thành tốt nhiệm vụ thực tập cuối khóa năm học
                2019-2020
              </a>
            </h3>
            <p class="post-news-event__text mb-2">Sáng 18/04/2019, Trường Đại học Khánh Hòa phối hợp với
              Sở Giáo dục &amp; Đào tạo tỉnh Khánh Hòa, Bệnh viện chuyên khoa tâm thần Khánh Hòa tổ
              chức Hội thảo Khoa học cấp tỉnh với chủ đề: “Tâm lý học đường - Thực trạng và giải
              pháp”...</p>
            <a href="./chi-tiet-bai-viet.html" class="view-more" title="">Xem thêm<span>[+]</span></a>
          </div>
        </article>
        <article class="post-news-event">
          <div class="box-date">
            <span class="day">
              18
            </span>
            <span class="month">
              Tháng 03
            </span>
          </div>
          <div class="post-news-event__image">
            <div class="box">
              <a href="./chi-tiet-bai-viet.html" title="">
                <img [src]="'https://tcu.edu.vn/public/upload/Post/ThongTinKHCN/22092020/c7%201.jpg'" class="lazyload"
                  alt="alt-image">
              </a>
            </div>
          </div>
          <div class="post-news-event__post">
            <h3 class="title">
              <a href="./chi-tiet-bai-viet.html" title="">
                Tích cực đưa Trung tâm Công nghệ thông tin và Ngoại ngữ giai đoạn 2 vào hoạt động
              </a>
            </h3>
            <p class="post-news-event__text mb-2">Sáng 18/04/2019, Trường Đại học Khánh Hòa phối hợp với
              Sở Giáo dục &amp; Đào tạo tỉnh Khánh Hòa, Bệnh viện chuyên khoa tâm thần Khánh Hòa tổ
              chức Hội thảo Khoa học cấp tỉnh với chủ đề: “Tâm lý học đường - Thực trạng và giải
              pháp”...</p>
            <a href="./chi-tiet-bai-viet.html" class="view-more" title="">Xem thêm<span>[+]</span></a>
          </div>
        </article>
      </section>

      <nav class="pagination-wrap pt-3">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item active"><span class="page-link">1</span></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-xs-12 col-md-5 col-lg-3">
      <div class="sidebar pt-3">
        <aside class="banner">
          <ul class="intro__list">
            <li class="intro__item">
              <a href="http://elearning.mitechcenter.vn/" target="_blank" title="E-Learning">
                <img [src]="'https://tcu.edu.vn/assets/web/images/e-Learning-tcu.jpg'"
                  data-src="https://tcu.edu.vn/assets/web/images/e-Learning-tcu.jpg" class="lazyload" alt="alt-image">
              </a>
            </li>
            <li class="intro__item">
              <a href="http://thisinh.thithptquocgia.edu.vn/Account/Login" target="_blank" title="Tra cứu điểm thi">
                <img [src]="'https://tcu.edu.vn/assets/web/images/tra-cuu-diem-thi-tcu.jpg'"
                  data-src="https://tcu.edu.vn/assets/web/images/tra-cuu-diem-thi-tcu.jpg" class="lazyload"
                  alt="alt-image">
              </a>
            </li>
            <li class="intro__item">
              <a href="http://daotao.mitechcenter.vn/cau-hoi-thuong-gap" target="" title="Câu hỏi thường gặp">
                <img [src]="'https://tcu.edu.vn/assets/web/images/cau-hoi-thuong-gap-tcu.jpg'"
                  data-src="https://tcu.edu.vn/assets/web/images/cau-hoi-thuong-gap-tcu.jpg" class="lazyload"
                  alt="alt-image">
              </a>
            </li>
            <li class="intro__item">
              <a href="http://mitechcenter.vn/ho-so-tuyen-sinh" target="_blank" title="Hồ sơ tuyển sinh">
                <img [src]="'https://tcu.edu.vn/assets/web/images/ho-so-tuyen-sinh-tcu.jpg'"
                  data-src="https://tcu.edu.vn/assets/web/images/ho-so-tuyen-sinh-tcu.jpg" class="lazyload"
                  alt="alt-image">
              </a>
            </li>
          </ul>
        </aside>
        <aside class="aside-featured">
          <div class="d-flex aside-title">
            <div class="flex-grow-1">
              <h4><span>Tin nổi bật</span></h4>
            </div>
            <div class="align-self-center">
              <a class="read-more" href="./danh-sach-bai-viet.html" title="">Xem thêm<span>[+]</span></a>
            </div>
          </div>
          <div class="list-post">
            <article class="item full-thumb">
              <div class="image">
                <a href="./chi-tiet-bai-viet.html" title="">
                  <img [src]="'https://tcu.edu.vn/public/upload/banbientap/2021/2021-06-13_221033.png'"
                    data-src="https://tcu.edu.vn/public/upload/banbientap/2021/2021-06-13_221033.png" class="lazyload"
                    alt="alt-image">
                </a>
              </div>
              <div class="title">
                <h3>
                  <a href="./chi-tiet-bai-viet.html" title="">
                    Trường Sĩ quan Thông tin tặng các trường học trên địa bàn máy rửa tay sát khuẩn tự động
                  </a>
                </h3>
              </div>
            </article>
            <article class="item">
              <div class="image">
                <a href="./chi-tiet-bai-viet.html" title="">
                  <img [src]="'https://tcu.edu.vn/public/upload/banbientap/2021/2021-06-13_221033.png'"
                    data-src="./assets/web/images/post-1.jpg" class="lazyload" alt="alt-image">
                </a>

              </div>
              <div class="title">
                <h3>
                  <a href="./chi-tiet-bai-viet.html" title="">
                    Trường Sĩ quan Thông tin tặng các trường học trên địa bàn máy rửa tay sát khuẩn tự động
                  </a>
                </h3>
              </div>
            </article>
            <article class="item">
              <div class="image">
                <a href="./chi-tiet-bai-viet.html" title="">
                  <img [src]="'https://tcu.edu.vn/public/upload/banbientap/2021/2021-06-13_221033.png'"
                    data-src="./assets/web/images/post-29.jpg" class="lazyload" alt="alt-image">
                </a>

              </div>
              <div class="title">
                <h3>
                  <a href="./chi-tiet-bai-viet.html" title="">
                    Trường Sĩ quan Thông tin: Hoàn thành tốt nhiệm vụ thực tập cuối khóa năm học 2019-2020
                  </a>
                </h3>
              </div>
            </article>
            <article class="item">
              <div class="image">
                <a href="./chi-tiet-bai-viet.html" title="">
                  <img [src]="'https://tcu.edu.vn/public/upload/banbientap/2021/2021-06-13_221033.png'"
                    data-src="./assets/web/images/post-3.jpg" class="lazyload" alt="alt-image">
                </a>

              </div>
              <div class="title">
                <h3>
                  <a href="./chi-tiet-bai-viet.html" title="">
                    Giảng viên Khoa Khoa học xã hội và nhân văn bảo vệ luận văn thạc sĩ năm 2020 tại Học viện
                    Chính trị
                  </a>
                </h3>
              </div>
            </article>
            <article class="item">
              <div class="image">
                <a href="./chi-tiet-bai-viet.html" title="">
                  <img [src]="'https://tcu.edu.vn/public/upload/banbientap/2021/2021-06-13_221033.png'"
                    data-src="./assets/web/images/post-4.jpg" class="lazyload" alt="alt-image">
                </a>
              </div>
              <div class="title">
                <h3>
                  <a href="./chi-tiet-bai-viet.html" title="">
                    Tích cực đưa Trung tâm Công nghệ thông tin và Ngoại ngữ giai đoạn 2 vào hoạt động
                  </a>
                </h3>
              </div>
            </article>
          </div>
        </aside>
        <aside class="aside-notice">
          <div class="d-flex aside-title">
            <div class="flex-grow-1">
              <h4><span>Thông báo đào tạo</span></h4>
            </div>
            <div class="align-self-center">
              <a class="read-more" href="./danh-sach-bai-viet.html" title="">Xem thêm<span>[+]</span></a>
            </div>
          </div>
          <div class="list-post">
            <article class="item">
              <div class="title">
                <h3>
                  <a href="./chi-tiet-bai-viet.html" title="">
                    Trường Đại học Thông tin liên lạc thông báo tuyển sinh các lớp tiếng Nhật ngắn hạn
                  </a>
                </h3>
              </div>
            </article>
            <article class="item">
              <div class="title">
                <h3>
                  <a href="./chi-tiet-bai-viet.html" title="">
                    Đề án tuyển sinh Trường Sĩ quan Thông tin năm 2020
                  </a>
                </h3>
              </div>
            </article>
            <article class="item">
              <div class="title">
                <h3>
                  <a href="./chi-tiet-bai-viet.html" title="">
                    Công bố phương thức tuyển sinh chính thức của các trường quân đội năm 2020
                  </a>
                </h3>
              </div>
            </article>
            <article class="item">
              <div class="title">
                <h3>
                  <a href="./chi-tiet-bai-viet.html" title="">
                    Bộ Quốc phòng điều chỉnh thời gian sơ tuyển vì Covid-19
                  </a>
                </h3>
              </div>
            </article>
            <article class="item">
              <div class="title">
                <h3>
                  <a href="./chi-tiet-bai-viet.html" title="">
                    Đề án tuyển sinh Trường Sĩ quan Thông tin năm 2020
                  </a>
                </h3>
              </div>
            </article>
            <article class="item">
              <div class="title">
                <h3>
                  <a href="./chi-tiet-bai-viet.html" title="">
                    Công bố phương thức tuyển sinh chính thức của các trường quân đội năm 2020
                  </a>
                </h3>
              </div>
            </article>
          </div>
        </aside>
        <aside class="aside-notice">
          <div class="d-flex aside-title">
            <div class="flex-grow-1">
              <h4><span>Thông báo tuyển sinh</span></h4>
            </div>
            <div class="align-self-center">
              <a class="read-more" href="./danh-sach-bai-viet.html" title="">Xem thêm<span>[+]</span></a>
            </div>
          </div>
          <div class="list-post">
            <article class="item">
              <div class="title">
                <h3>
                  <a href="./chi-tiet-bai-viet.html" title="">
                    Trường Đại học Thông tin liên lạc thông báo tuyển sinh các lớp tiếng Nhật ngắn hạn
                  </a>
                </h3>
              </div>
            </article>
            <article class="item">
              <div class="title">
                <h3>
                  <a href="./chi-tiet-bai-viet.html" title="">
                    Đề án tuyển sinh Trường Sĩ quan Thông tin năm 2020
                  </a>
                </h3>
              </div>
            </article>
            <article class="item">
              <div class="title">
                <h3>
                  <a href="./chi-tiet-bai-viet.html" title="">
                    Công bố phương thức tuyển sinh chính thức của các trường quân đội năm 2020
                  </a>
                </h3>
              </div>
            </article>
            <article class="item">
              <div class="title">
                <h3>
                  <a href="./chi-tiet-bai-viet.html" title="">
                    Bộ Quốc phòng điều chỉnh thời gian sơ tuyển vì Covid-19
                  </a>
                </h3>
              </div>
            </article>
            <article class="item">
              <div class="title">
                <h3>
                  <a href="./chi-tiet-bai-viet.html" title="">
                    Đề án tuyển sinh Trường Sĩ quan Thông tin năm 2020
                  </a>
                </h3>
              </div>
            </article>
            <article class="item">
              <div class="title">
                <h3>
                  <a href="./chi-tiet-bai-viet.html" title="">
                    Công bố phương thức tuyển sinh chính thức của các trường quân đội năm 2020
                  </a>
                </h3>
              </div>
            </article>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>
