@import "../../../app.component.scss";
@import "../../post-detail/post-detail.component.scss";


.post-news-event {
  display: grid;
  grid-template-columns: 1fr 3fr 6fr;
  column-gap: 10px;
  align-items: flex-start;
  margin-bottom: 20px;

  .box-date{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .day {
      background-color: #fff;
      border: 1px solid #dc2f27;
      border-radius: 4px 4px 0 0;
      font-size: 22px;
      color: #dc2f27;
      padding: 4px;
    }

    .month {
      font-size: 15px;
      color: #fff;
      line-height: 22px;
      font-weight: 400;
      background-color: #dc2f27;
      border-radius: 0 0 4px 4px;
      padding: 4px;
    }
  }

  .post-news-event__image{
    border: 1px solid #bdbdbd;
    padding: 1px;
    .box {
      position: relative;
      overflow: hidden;
      height: 160px;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .post-news-event__post{
    .title {
      font-size: 14px;
      line-height: 22px;
      text-align: justify;
      margin-bottom: .5rem;
      font-weight: bold;

      &:hover{
        a {
          color: #fcc133;
        }
      }

      a {
        transition: .5s;
        color: #000;
      }
    }

    .post-news-event__text {
      color: #2b2b2b;
      font-size: 14px;
      line-height: 20px;
      text-align: justify;
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: .5rem;
      margin-top: 0;
    }

    .view-more {
      color: #dd231e;
      transition: .5s;

      span{
        margin-left: 5px;
      }

      &:hover{
        color: #fcc133;
      }
    }
  }
}
