:host::ng-deep{
  #m-app{
    position: relative;

    .page-header{

      padding-bottom: 0px;
      position: fixed;
      top: 0;
      z-index: 1;

      margin-top: 0;
      margin-bottom: 0;
      height: auto;
    }

    #app-container{
      z-index: 0;
      position: absolute;
      height: auto;
      top: 90px;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: 8px;
      background-color: #ffffff;
    }

    m-sidebar{
      display: none;
    }
    @media(max-width:991px){
      #app-container{
        top: 45px;
        bottom: 55px;
      }
      m-sidebar{
        display: block;
      }
    }


    @media(max-width:510px){
      #app-container{
        bottom: 75px;
      }
    }
    @media(max-width:415px){
      #app-container{
        bottom: 85px;
      }
    }

    @media(max-width:362px){
      #app-container{
        bottom: 95px;
      }
    }

  }
}

a{
  color: #000;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: #dc2f27;
}

section{
  margin: 0;
  overflow: hidden;
}



.article-post,
.connect-bottom,
.information,
.mutilmedia,
.section-news {
  padding: 40px 0;
}

.pagination-wrap{
  margin: 30px 0;

  .pagination {
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;

     .page-item {
      margin-right: 5px;

      &.active .page-link {
        color: #fff;
        background-color: #dc2f27;
        border-color: #dc2f27;
      }

      .page-link {
        border: 1px solid #828282;
        color: #000;
        transition: .5s;

        &:hover{
          color: #fff;
          background-color: #dc2f27;
          border-color: #dc2f27;
        }
      }
    }
  }

}

h1, h2, h3, h4, h5, h6{
  margin-top: 0;
}

.m-0{
  margin: 0 !important;
}

.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

.flex-grow-1 {
  -ms-flex-positive: 1!important;
  flex-grow: 1!important;
}

.align-self-center {
  -ms-flex-item-align: center!important;
  align-self: center!important;
}

.justify-content-between {
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
}


