<main>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-7 col-lg-9">
        <nav class="nav-breadcrumb pt-3">
          <ol class="breadcrumb">
            <li class="breadcrumb-item ">
              <a href="index.html">Trang chủ</a>
            </li>
            <li class="breadcrumb-item ">
              <a href="danh-sach-bai-viet.html">Tin tức sự kiện</a>
            </li>
            <li class="breadcrumb-item active">
              <span>Khai mạc khóa đào tạo kỹ năng đánh giá công tác bảo đảm an toàn thông tin...</span>
            </li>
          </ol>
        </nav>
        <section class="single" id="detail">
          <header>
            <h1 class="title">Khai mạc khóa đào tạo kỹ năng đánh giá công tác bảo đảm an toàn thông tin tại
              Trung tâm CNTT&NN</h1>
            <span class="date"><i class="fa fa-clock"></i>04/05/2020</span>
            <span class="time">09:50</span>
          </header>
          <article>
            <p>
              Sáng 25/6/2020, Sở Thông tin và Truyền thông tỉnh Khánh Hòa phối hợp với Trung tâm Công nghệ
              thông tin và ngoại ngữ - Trường Sĩ quan Thông tin tổ chức khai mạc khóa đào tạo kỹ năng đánh
              giá công tác bảo đảm an toàn thông tin cho 50 cán bộ kỹ thuật là thành viên Đội Ứng cứu khẩn
              cấp sự cố an toàn thông tin (ATTT) mạng tỉnh Khánh Hòa và cán bộ phụ trách công nghệ thông
              tin (CNTT) của các cơ quan, đơn vị trên địa bàn tỉnh. Đến dự và phát biểu khai mạc có đồng
              chí Nguyễn Tấn Trung – Phó Giám đốc Sở Thông tin và Truyền thông tỉnh Khánh Hòa. Tham dự có
              đồng chí Đại tá Trần Văn Thuận – Giám đốc Trung tâm CNTT&NN cùng đông đủ học viên khóa học.
            </p>
            <figure class="text-center">
              <img src="./assets/web/images/post-3.jpg" alt=" alt-image">
              <figcaption>
                Đồng chí Nguyễn Tấn Trung – Phó Giám đốc Sở TT&TT tỉnh Khánh Hòa phát biểu khai mạc
              </figcaption>
            </figure>
            <figure class="text-center">
              <img src="./assets/web/images/ct-post-2.jpg" alt="alt-image">
              <figcaption>
                Đại tá Trần Văn Thuận – Giám đốc Trung tâm CNTT&NN phát biểu về công tác tổ chức, bảo
                đảm khóa đào tạo
              </figcaption>
            </figure>
            <p>
              Trong những năm qua, tỉnh Khánh Hòa đã và đang nỗ lực đẩy mạnh ứng dụng CNTT trong hoạt động
              của cơ quan Nhà nước. Cùng với đó, vấn đề bảo đảm ATTT đã và đang được các cấp, các ngành
              quan tâm hàng đầu. Qua thực tế triển khai, Sở TT&TT nhận thấy công tác bảo đảm ATTT trên địa
              bàn tỉnh hiện đang đối mặt với nhiều khó khăn, thử thách; một số ngành, địa phương đã xảy ra
              các sự cố về an toàn thông tin, gây ảnh hưởng lớn đến công tác quản lý, điều hành của lãnh
              đạo và hoạt động của các cơ quan, đơn vị.
            </p>
            <figure class="text-center">
              <img src="./assets/web/images/ct-post-98.jpg" alt="alt-image">
              <figcaption>
                Các học viên bước vào học tập sau khai mạc
              </figcaption>
            </figure>
            <p>
              Khóa đào tạo kỹ năng đánh giá công tác bảo đảm an toàn thông tin năm 2020 được tổ chức từ
              ngày 25/6 đến ngày 27/6 do các giảng viên nhiều kinh nghiệm của Trung tâm CNTT&NN giảng dạy
              nhằm trang bị cho các thành viên Đội Ứng cứu khẩn cấp sự cố ATTT mạng và cán bộ phụ trách
              CNTT của các cơ quan, đơn vị trên địa bàn tỉnh những kiến thức, kỹ năng cần thiết về đánh
              giá công tác bảo đảm an toàn thông tin, góp phần nâng cao chất lượng, hiệu quả công tác
              trong thời gian tới. Chương trình khóa học được lồng ghép nội dung với theo dõi, học tập
              kinh nghiệm từ cuộc diễn tập ứng phó sự cố ASIA 2020 và nghe doanh nghiệp giới thiệu về một
              số giải pháp công nghệ mới (bằng hình thức trực tuyến).
            </p>
            <h5 class="author text-right">
              Trường Sinh
            </h5>
          </article>
        </section>
        <div class="list-social pt-3">
          <ul>
            <li class="item">
              <a href="" class="back-link" title="Về trang trước">
                <img src="./assets/web/images/ion_arrow-back-circle-outline.png" alt="alt-icon">
                <span>Về trang trước</span>
              </a>
            </li>
            <li class="item">
              <a href="javascript:void(0)" id="share" title="Chia sẻ">
                <img src="./assets/web/images/ant-design_share-alt-outlined.png" alt="alt-icon">
                <span>Chia sẻ</span>
              </a>
            </li>
            <li class="item">
              <a href="javascript:void(0)" id="printnew" title="In Trang">
                <img src="./assets/web/images/ion_print-outline.png" alt="alt-icon">
                <span>In Trang</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="list-news">
          <div class="title">
            <h2>Các bài viết khác</h2>
          </div>
          <ul>
            <li>
              <a href="./chi-tiet-bai-viet.html" title="">Trường Sĩ quan Thông tin tặng các trường học
                trên địa bàn máy rửa tay sát khuẩn tự động</a>
            </li>
            <li>
              <a href="./chi-tiet-bai-viet.html" title="">Trường Sĩ quan Thông tin: Hoàn thành tốt nhiệm
                vụ thực tập cuối khóa năm học 2019-2020</a>
            </li>
            <li>
              <a href="./chi-tiet-bai-viet.html" title="">Giảng viên Khoa Khoa học xã hội và nhân văn bảo
                vệ luận văn thạc sĩ năm 2020 tại Học viện Chính trị</a>
            </li>
            <li>
              <a href="./chi-tiet-bai-viet.html" title="">Tích cực đưa Trung tâm Công nghệ thông tin và
                Ngoại ngữ giai đoạn 2 vào hoạt động</a>
            </li>
            <li>
              <a href="./chi-tiet-bai-viet.html" title="">Trường Sĩ quan Thông tin: Hoàn thành tốt nhiệm
                vụ thực tập cuối khóa năm học 2019-2020</a>
            </li>
            <li>
              <a href="./chi-tiet-bai-viet.html" title="">Đội SQ26 - TCU chiến thắng rực rỡ tại vòng bán
                kết Cuộc thi Cuộc đua số khu vực miền Nam</a>
            </li>
            <li>
              <a href="./chi-tiet-bai-viet.html" title="">Giảng viên Khoa Khoa học xã hội và nhân văn bảo
                vệ luận văn thạc sĩ năm 2020 tại Học viện Chính trị</a>
            </li>
            <li>
              <a href="./chi-tiet-bai-viet.html" title="">Đề án tuyển sinh Trường Sĩ quan Thông tin năm
                2020</a>
            </li>
            <li>
              <a href="./chi-tiet-bai-viet.html" title="">Công bố phương thức tuyển sinh chính thức của
                các trường quân đội năm 2020</a>
            </li>
            <li>
              <a href="./chi-tiet-bai-viet.html" title="">Bộ Quốc phòng điều chỉnh thời gian sơ tuyển vì
                Covid-19</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-5 col-lg-3">
        <div class="sidebar pt-3">
          <aside class="banner">
            <ul class="intro__list">
              <li class="intro__item">
                <a href="http://elearning.mitechcenter.vn/" target="_blank" title="E-Learning">
                  <img data-src="./assets/web/images/E-Learning-tcu.jpg" class="lazyload" alt="alt-image">
                </a>
              </li>
              <li class="intro__item">
                <a href="http://thisinh.thithptquocgia.edu.vn/Account/Login" target="_blank" title="Tra cứu điểm thi">
                  <img data-src="./assets/web/images/tra-cuu-diem-thi-tcu.jpg" class="lazyload" alt="alt-image">
                </a>
              </li>
              <li class="intro__item">
                <a href="http://daotao.mitechcenter.vn/cau-hoi-thuong-gap" target="" title="Câu hỏi thường gặp">
                  <img data-src="./assets/web/images/cau-hoi-thuong-gap-tcu.jpg" class="lazyload" alt="alt-image">
                </a>
              </li>
              <li class="intro__item">
                <a href="http://mitechcenter.vn/ho-so-tuyen-sinh" target="_blank" title="Hồ sơ tuyển sinh">
                  <img data-src="./assets/web/images/ho-so-tuyen-sinh-tcu.jpg" class="lazyload" alt="alt-image">
                </a>
              </li>
            </ul>
          </aside>
          <aside class="aside-featured">
            <div class="d-flex aside-title">
              <div class="flex-grow-1">
                <h4><span>Tin nổi bật</span></h4>
              </div>
              <div class="align-self-center">
                <a class="read-more" href="./danh-sach-bai-viet.html" title="">Xem thêm<span>[+]</span></a>
              </div>
            </div>
            <div class="list-post">
              <article class="item full-thumb">
                <div class="image">
                  <a href="./chi-tiet-bai-viet.html" title="">
                    <img data-src="" class="lazyload" alt="alt-image">
                  </a>
                </div>
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Trường Sĩ quan Thông tin tặng các trường học trên địa bàn máy rửa tay sát khuẩn tự động
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="image">
                  <a href="./chi-tiet-bai-viet.html" title="">
                    <img data-src="./assets/web/images/post-1.jpg" class="lazyload" alt="alt-image">
                  </a>

                </div>
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Trường Sĩ quan Thông tin tặng các trường học trên địa bàn máy rửa tay sát khuẩn tự động
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="image">
                  <a href="./chi-tiet-bai-viet.html" title="">
                    <img data-src="./assets/web/images/post-29.jpg" class="lazyload" alt="alt-image">
                  </a>

                </div>
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Trường Sĩ quan Thông tin: Hoàn thành tốt nhiệm vụ thực tập cuối khóa năm học 2019-2020
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="image">
                  <a href="./chi-tiet-bai-viet.html" title="">
                    <img data-src="./assets/web/images/post-3.jpg" class="lazyload" alt="alt-image">
                  </a>

                </div>
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Giảng viên Khoa Khoa học xã hội và nhân văn bảo vệ luận văn thạc sĩ năm 2020 tại Học viện
                      Chính trị
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="image">
                  <a href="./chi-tiet-bai-viet.html" title="">
                    <img data-src="./assets/web/images/post-4.jpg" class="lazyload" alt="alt-image">
                  </a>
                </div>
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Tích cực đưa Trung tâm Công nghệ thông tin và Ngoại ngữ giai đoạn 2 vào hoạt động
                    </a>
                  </h3>
                </div>
              </article>
            </div>
          </aside>
          <aside class="aside-notice">
            <div class="d-flex aside-title">
              <div class="flex-grow-1">
                <h4><span>Thông báo đào tạo</span></h4>
              </div>
              <div class="align-self-center">
                <a class="read-more" href="./danh-sach-bai-viet.html" title="">Xem thêm<span>[+]</span></a>
              </div>
            </div>
            <div class="list-post">
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Trường Đại học Thông tin liên lạc thông báo tuyển sinh các lớp tiếng Nhật ngắn hạn
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Đề án tuyển sinh Trường Sĩ quan Thông tin năm 2020
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Công bố phương thức tuyển sinh chính thức của các trường quân đội năm 2020
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Bộ Quốc phòng điều chỉnh thời gian sơ tuyển vì Covid-19
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Đề án tuyển sinh Trường Sĩ quan Thông tin năm 2020
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Công bố phương thức tuyển sinh chính thức của các trường quân đội năm 2020
                    </a>
                  </h3>
                </div>
              </article>
            </div>
          </aside>
          <aside class="aside-notice">
            <div class="d-flex aside-title">
              <div class="flex-grow-1">
                <h4><span>Thông báo tuyển sinh</span></h4>
              </div>
              <div class="align-self-center">
                <a class="read-more" href="./danh-sach-bai-viet.html" title="">Xem thêm<span>[+]</span></a>
              </div>
            </div>
            <div class="list-post">
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Trường Đại học Thông tin liên lạc thông báo tuyển sinh các lớp tiếng Nhật ngắn hạn
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Đề án tuyển sinh Trường Sĩ quan Thông tin năm 2020
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Công bố phương thức tuyển sinh chính thức của các trường quân đội năm 2020
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Bộ Quốc phòng điều chỉnh thời gian sơ tuyển vì Covid-19
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Đề án tuyển sinh Trường Sĩ quan Thông tin năm 2020
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Công bố phương thức tuyển sinh chính thức của các trường quân đội năm 2020
                    </a>
                  </h3>
                </div>
              </article>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</main>
