<main>
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-lg-9">
        <nav class="nav-breadcrumb pt-3">
          <ol class="breadcrumb">
            <li class="breadcrumb-item ">
              <a href="./index.html">Trang chủ</a>
            </li>
            <li class="breadcrumb-item ">
              <span>Giáo dục QPAN</span>
            </li>
            <li class="breadcrumb-item ">
              <span>Học liệu QPAN</span>
            </li>
            <li class="breadcrumb-item">
              <a href="./danh-sach-hoc-lieu.html">Bài giảng</a>
            </li>
            <li class="breadcrumb-item active">
              <span>Quan Điểm, Chủ Trương Của Đảng, Chính Sách...</span>
            </li>
          </ol>
        </nav>
        <section class="lecture-item-content">
          <article>
            <header>
              <h1 class="title">Quan Điểm, Chủ Trương Của Đảng, Chính Sách Pháp Luật Của Nhà Nước Về An
                Ninh Quốc Gia Và Xây Dựng Thế Trận An Ninh Nhân Dân Trong Thời Kỳ Mới</h1>
            </header>
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <tbody>
                  <tr>
                    <th>Mã tài liệu</th>
                    <td><strong>BG001</strong></td>
                  </tr>
                  <tr>
                    <th>Tên tài liệu</th>
                    <td>Quan Điểm, Chủ Trương Của Đảng, Chính Sách Pháp Luật Của Nhà Nước Về An Ninh
                      Quốc Gia Và Xây Dựng Thế Trận An Ninh Nhân Dân Trong Thời Kỳ Mới</td>
                  </tr>
                  <tr>
                    <th>Tác giả</th>
                    <td>Trần Xuân Ngọ</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="box-text">
              <p>Xem nội dung <span>Bài Giảng</span> bên dưới, nhấn nút <i class="fas fa-file-download"></i> để tải
                xuống tài liệu</p>
            </div>
            <!-- <iframe class="pdfembed"
              src="https://tcu.edu.vn/assets/web/libs/pdfjs/web/viewer.html?file=/public/upload/Documents/Giao%20trinh/Giao%20trinh%20giao%20duc%20quoc%20phong-tap%201.pdf"
              width="100%" height="720px"></iframe> -->
            <iframe class="pdfembed" width="100%" height="720px" frameBorder="0" [src]="urlSafe"></iframe>
          </article>
        </section>
        <!-- <div class="list-social pt-3">
          <ul>
            <li class="item">
              <a href="" class="back-link" title="Về trang trước">
                <img src="./assets/web/images/ion_arrow-back-circle-outline.png" alt="alt-icon">
                <span>Về trang trước</span>
              </a>
            </li>
            <li class="item">
              <a href="javascript:void(0)" id="share" title="Chia sẻ">
                <img src="./assets/web/images/ant-design_share-alt-outlined.png" alt="alt-icon">
                <span>Chia sẻ</span>
              </a>
            </li>
            <li class="item">
              <a href="javascript:void(0)" id="printnew" title="In Trang">
                <img src="./assets/web/images/ion_print-outline.png" alt="alt-icon">
                <span>In Trang</span>
              </a>
            </li>
          </ul>
        </div> -->
      </div>
      <div class="col-md-5 col-lg-3">
        <div class="sidebar pt-3">
          <aside class="banner">
            <ul class="intro__list">
              <li class="intro__item">
                <a href="http://elearning.mitechcenter.vn/" target="_blank" title="E-Learning">
                  <img [src]="'https://tcu.edu.vn/assets/web/images/e-Learning-tcu.jpg'"
                    data-src="https://tcu.edu.vn/assets/web/images/e-Learning-tcu.jpg" class="lazyload" alt="alt-image">
                </a>
              </li>
              <li class="intro__item">
                <a href="http://thisinh.thithptquocgia.edu.vn/Account/Login" target="_blank" title="Tra cứu điểm thi">
                  <img [src]="'https://tcu.edu.vn/assets/web/images/tra-cuu-diem-thi-tcu.jpg'"
                    data-src="https://tcu.edu.vn/assets/web/images/tra-cuu-diem-thi-tcu.jpg" class="lazyload"
                    alt="alt-image">
                </a>
              </li>
              <li class="intro__item">
                <a href="http://daotao.mitechcenter.vn/cau-hoi-thuong-gap" target="" title="Câu hỏi thường gặp">
                  <img [src]="'https://tcu.edu.vn/assets/web/images/cau-hoi-thuong-gap-tcu.jpg'"
                    data-src="https://tcu.edu.vn/assets/web/images/cau-hoi-thuong-gap-tcu.jpg" class="lazyload"
                    alt="alt-image">
                </a>
              </li>
              <li class="intro__item">
                <a href="http://mitechcenter.vn/ho-so-tuyen-sinh" target="_blank" title="Hồ sơ tuyển sinh">
                  <img [src]="'https://tcu.edu.vn/assets/web/images/ho-so-tuyen-sinh-tcu.jpg'"
                    data-src="https://tcu.edu.vn/assets/web/images/ho-so-tuyen-sinh-tcu.jpg" class="lazyload"
                    alt="alt-image">
                </a>
              </li>
            </ul>
          </aside>
          <aside class="aside-featured">
            <div class="d-flex aside-title">
              <div class="flex-grow-1">
                <h4><span>Tin nổi bật</span></h4>
              </div>
              <div class="align-self-center">
                <a class="read-more" href="./danh-sach-bai-viet.html" title="">Xem thêm<span>[+]</span></a>
              </div>
            </div>
            <div class="list-post">
              <article class="item full-thumb">
                <div class="image">
                  <a href="./chi-tiet-bai-viet.html" title="">
                    <img [src]="'https://tcu.edu.vn/public/upload/banbientap/2021/2021-06-13_221033.png'"
                      data-src="https://tcu.edu.vn/public/upload/banbientap/2021/2021-06-13_221033.png" class="lazyload"
                      alt="alt-image">
                  </a>
                </div>
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Trường Sĩ quan Thông tin tặng các trường học trên địa bàn máy rửa tay sát khuẩn tự động
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="image">
                  <a href="./chi-tiet-bai-viet.html" title="">
                    <img [src]="'https://tcu.edu.vn/public/upload/banbientap/2021/2021-06-13_221033.png'"
                      data-src="./assets/web/images/post-1.jpg" class="lazyload" alt="alt-image">
                  </a>

                </div>
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Trường Sĩ quan Thông tin tặng các trường học trên địa bàn máy rửa tay sát khuẩn tự động
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="image">
                  <a href="./chi-tiet-bai-viet.html" title="">
                    <img [src]="'https://tcu.edu.vn/public/upload/banbientap/2021/2021-06-13_221033.png'"
                      data-src="./assets/web/images/post-29.jpg" class="lazyload" alt="alt-image">
                  </a>

                </div>
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Trường Sĩ quan Thông tin: Hoàn thành tốt nhiệm vụ thực tập cuối khóa năm học 2019-2020
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="image">
                  <a href="./chi-tiet-bai-viet.html" title="">
                    <img [src]="'https://tcu.edu.vn/public/upload/banbientap/2021/2021-06-13_221033.png'"
                      data-src="./assets/web/images/post-3.jpg" class="lazyload" alt="alt-image">
                  </a>

                </div>
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Giảng viên Khoa Khoa học xã hội và nhân văn bảo vệ luận văn thạc sĩ năm 2020 tại Học viện
                      Chính trị
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="image">
                  <a href="./chi-tiet-bai-viet.html" title="">
                    <img [src]="'https://tcu.edu.vn/public/upload/banbientap/2021/2021-06-13_221033.png'"
                      data-src="./assets/web/images/post-4.jpg" class="lazyload" alt="alt-image">
                  </a>
                </div>
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Tích cực đưa Trung tâm Công nghệ thông tin và Ngoại ngữ giai đoạn 2 vào hoạt động
                    </a>
                  </h3>
                </div>
              </article>
            </div>
          </aside>
          <aside class="aside-notice">
            <div class="d-flex aside-title">
              <div class="flex-grow-1">
                <h4><span>Thông báo đào tạo</span></h4>
              </div>
              <div class="align-self-center">
                <a class="read-more" href="./danh-sach-bai-viet.html" title="">Xem thêm<span>[+]</span></a>
              </div>
            </div>
            <div class="list-post">
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Trường Đại học Thông tin liên lạc thông báo tuyển sinh các lớp tiếng Nhật ngắn hạn
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Đề án tuyển sinh Trường Sĩ quan Thông tin năm 2020
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Công bố phương thức tuyển sinh chính thức của các trường quân đội năm 2020
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Bộ Quốc phòng điều chỉnh thời gian sơ tuyển vì Covid-19
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Đề án tuyển sinh Trường Sĩ quan Thông tin năm 2020
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Công bố phương thức tuyển sinh chính thức của các trường quân đội năm 2020
                    </a>
                  </h3>
                </div>
              </article>
            </div>
          </aside>
          <aside class="aside-notice">
            <div class="d-flex aside-title">
              <div class="flex-grow-1">
                <h4><span>Thông báo tuyển sinh</span></h4>
              </div>
              <div class="align-self-center">
                <a class="read-more" href="./danh-sach-bai-viet.html" title="">Xem thêm<span>[+]</span></a>
              </div>
            </div>
            <div class="list-post">
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Trường Đại học Thông tin liên lạc thông báo tuyển sinh các lớp tiếng Nhật ngắn hạn
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Đề án tuyển sinh Trường Sĩ quan Thông tin năm 2020
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Công bố phương thức tuyển sinh chính thức của các trường quân đội năm 2020
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Bộ Quốc phòng điều chỉnh thời gian sơ tuyển vì Covid-19
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Đề án tuyển sinh Trường Sĩ quan Thông tin năm 2020
                    </a>
                  </h3>
                </div>
              </article>
              <article class="item">
                <div class="title">
                  <h3>
                    <a href="./chi-tiet-bai-viet.html" title="">
                      Công bố phương thức tuyển sinh chính thức của các trường quân đội năm 2020
                    </a>
                  </h3>
                </div>
              </article>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</main>
